<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Stride</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
  <div class="py-4 d-flex justify-content-center">
    <nav class="bg-white px-4 py-3 rounded-4 shadow-sm">
      <ul class="nav gap-5">
        <li class="nav-item">
          <a href="/Dashboard" class="nav-link text-primary fs-5">Dashboard</a>
        </li>
        <li class="nav-item">
          <a href="/Goals" class="nav-link text-secondary fs-5">Goals</a>
        </li>
        <li class="nav-item">
          <a href="/Habits" class="nav-link text-secondary fs-5">Habits</a>
        </li>
        <li class="nav-item">
          <a href="/Settings" class="nav-link text-secondary fs-5 d-flex align-items-center justify-content-center">Settings</a>
        </li>
      </ul>
    </nav>
  </div> 

            <main class="flex-grow-1 p-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>1