@{
    ViewData["Title"] = "Error";
    var statusCode = ViewData["StatusCode"] ?? 404;
}

<div class="bg-light bg-gradient min-vh-100">
    <div class="d-flex align-items-center justify-content-center min-vh-100 px-2">
        <div class="text-center">
            <h1 class="display-1 fw-bold">@statusCode</h1>
            @{
                var errorMessage = "Something went wrong";
                
                if (statusCode.ToString() == "404")
                {
                    errorMessage = "Page not found";
                }
                else if (statusCode.ToString().StartsWith("4"))
                {
                    errorMessage = "Request error";
                }
                else if (statusCode.ToString().StartsWith("5"))
                {
                    errorMessage = "Server error";
                }
                

            }
            <p class="fs-2 fw-medium mt-4">Oops! @errorMessage</p>
            <p class="mt-4 mb-5">
                @if (statusCode.ToString() == "404")
                {
                    <text>The page you're looking for doesn't exist or has been moved.</text>
                }
                else if (statusCode.ToString().StartsWith("4"))
                {
                    <text>There was a problem with your request.</text>
                }
                else
                {
                    <text>We're sorry, but we encountered an unexpected issue.</text>
                }
            </p>
            <a asp-action="Index" asp-controller="Home" class="btn btn-light fw-semibold rounded-pill px-4 py-2 shadow-sm">
                Go Home
            </a>
        </div>
    </div>
</div>